html {
    font-size: 16px;
    font-family: "MinionProBold", "AdobeInvisFont", "MyriadProRegular", "MinionProRegular", "BellMT", "OpenSans";
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../Fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../Fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../Fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MinionProBold";
    src: url("../Fonts/MinionProBold/MinionPro-Bold.eot");
    src: url("../Fonts/MinionProBold/MinionPro-Bold.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/MinionProBold/MinionPro-Bold.woff") format("woff"),
    url("../Fonts/MinionProBold/MinionPro-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinionProRegular";
    src: url("../Fonts/MinionProRegular/MinionPro-Regular.eot");
    src: url("../Fonts/MinionProRegular/MinionPro-Regular.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/MinionProRegular/MinionPro-Regular.woff") format("woff"),
    url("../Fonts/MinionProRegular/MinionPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AdobeInvisFont";
    src: url("../Fonts/AdobeInvisFont/ADOIF_.PFB.eot");
    src: url("../Fonts/AdobeInvisFont/ADOIF_.PFB.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/AdobeInvisFont/ADOIF_.PFB.woff") format("woff"),
    url("../Fonts/AdobeInvisFont/ADOIF_.PFB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "BellMT";
	src: url("../Fonts/BellMT/Bell_MT.eot");
	src: url("../Fonts/BellMT/Bell_MT.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/BellMT/Bell_MT.woff") format("woff"),
    url("../Fonts/BellMT/Bell_MT.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


body {
    width: 1300px;
    height: 827px;
    margin: 0 auto;
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 0 0;
}

/* Header*/
.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Container */
.container {    
    width: 100%;
    max-width: 1300px;
    height: 70px;
    margin: 0;
    background-color: #8c0a0d;
}

.header-inner {
    display: flex;
    align-items: flex-start;
}

.header-logo {
    width: 177px;
    height: 41px;
    margin-top: 15px;
    margin-left: 67px;
    background-image: url(../IMG/Logo.png);
    background-repeat: no-repeat;
}


/* Navigation Menu */
.nav {
    font-family: "MinionProBold";
    font-size: 14px;
    line-height: .8;
    margin-left: 125px;
    margin-top: 38px;
    margin-bottom: 21px;
    text-transform: uppercase;
}

.nav_link {
    width: 100%;
    vertical-align: top;
    margin-right: 33px;
    color: rgba(255, 227, 148);
    text-decoration: none;
    transition: color .15s linear;
}

.nav_link:hover {
    color: #fff;
}

/* Language Switch */
.flag {
    background-image: url(../IMG/English_lang.png);
    width: 27px;
    height: 18px;
    border-radius: 25px;
    margin-top: 35px;
    margin-left: 60px;
    background-repeat: no-repeat;
}

.lang {
    font-family: "MinionProBold";
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 33px;
    margin-left: 11px;
    color: rgba(255, 227, 148);
    text-decoration: none;
    transition: color .15s linear;
}

.lang:hover {
    color: #fff;
}


/* Content */
.content {
    width: 1300px;
    height: 687px;
    margin-top: 0px;
    background-image: url(../IMG/Background.png);
    background-repeat: no-repeat;
}

.content-overlay {
    width: 100%;
    height: 100%;
    background: rgba(247, 237, 209, 0.8);
}

/* Slider */
.slider {
    width: 1170px;
    height: 335px;
    position: absolute;
    margin-top: 30px;
    margin-left: 65px;
    z-index: 600;
    outline: 5px solid rgb(0, 0, 0);
    outline-offset: -5px;
    background-image: url(../IMG/Image_slider.png);
}

/* Arrows */
.arrow_left {
    width: 55px;
    height: 55px;
    position: absolute;
    margin-top: 155px;
    margin-left: 28px;
    background-image: url(../IMG/left-arrow-circular-button.png);
}

.arrow_left:hover {
    background-color: #f6cc79;
    border-radius: 50%;
    }

.arrow_right {
    width: 55px;
    height: 55px;
    position: absolute;
    margin-left: 1087px;
    margin-top: 155px;
    background-image: url(../IMG/right-arrow-circular-button.png);   
    transition: color .1 linear; 
}

.arrow_right:hover {
    background-color: #f6cc79;
    border-radius: 50%;
}

/* Name on slider */
.name_big {
    font-family: "OpenSans", "BellMT";
    font-size: 60px;
    position: absolute;
    margin-top: 30px;
    line-height: 3rem;
    margin-left: 360px;
    color: rgba(53, 4, 12);
}
span {
    font-family: "MyriadProRegular";
    font-weight: 400;
}

/* Button */
.button {
    width: 189px;
    height: 42px;
    margin-top: 108px;
    margin-left: 493px;
    line-height: 42px;
    font-family: "MinionProBold";
    font-weight: 800;
    background-color: #f6cc79;
    text-align: center;
    font-size: 24px;
    text-transform: lowercase;
    color: rgb(3, 3, 3);
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px  rgb(221, 133, 45);
    transition: color .05s linear;
}

.button:hover {
    color: #fff;
    background-color: #bf670d;
}

/* Ellipses */
.ellipse_1 {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    margin-top: 311px;
    margin-left: 555px;
}

.ellipse_2 {
    width: 15px;
    height: 15px;
    background-color: #bf670d;
    border-radius: 50%;
    position: absolute;
    margin-top: 311px;
    margin-left: 579px;
}

.ellipse_3 {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    margin-top: 311px;
    margin-left: 603px;
}
/* Text */
.content_text1 {
    font-family: "MinionProBold";
    width: 1140px;
    height: 120px;
    margin-top: 390px;
    margin-left: 65px;
    display: flex;
    position: absolute;
}

.content_text1>a {
    width: 270px;
    margin-right: 20px;
    font-size: 18px;
}

.content_text2 {
    font-family: "MinionProRegular";
    width: 1140px;
    height: 158px;
    margin-top: 515px;
    margin-left: 65px;
    display: flex;
    position: absolute;
}

.content_text2>a {
    width: 270px;
    margin-right: 20px;
    font-size: 16px;
    color: rgb(7, 7, 7);
}

/* Footer */
.footer {
    width: 1300px;
    height: 70px;    
    font-size: 14px;
}

/* Information Container */
.info_container {
    max-width: 100%;
    height: 100%;
    font-family: "MinionProBold";
    background-color: #8c0a0d;
    line-height: 1.5;
}

.website {
    width: 192px;
    height: 14px;
    margin-top: 30px;
    margin-left: 67px;
    color: #f6cc79;
    float: left;
    text-decoration: none;
}

.map {
   width: 148px;
   height: 38px;
   margin-left: 102px;
   margin-top: 12px;
   color: #f6cc79;
   float: left;
   text-decoration: none;
}

/* Phone numbers */
.tel {
    width: 144px;
    height: 37px;
    margin-top: 12px;
    margin-left: 658px;
    position: absolute;
}

.tel1 {
    color: #f6cc79;
    text-decoration: none;
}

.tel2 {
    padding-left: 26px;
    color: #f6cc79;
    text-decoration: none;
}

/* Email */
.mail {
    width: 138px;
    height: 36px;
    margin-left: 448px;
    margin-top: 12px;
    color: #f6cc79;
    text-decoration: none;
    float: left;
}

/* Socials */
.fb {
    width: 28px;
    height: 28px;
    margin-left: 69px;
    margin-top: 21px;
    background-image: url(../IMG/fb.png);
    position: absolute;
}

.vk {
    width: 28px;
    height: 28px;
    margin-left: 110px;
    margin-top: 21px;
    background-image: url(../IMG/vk.png);
    position: absolute;
}